
p{
	background-color: black;
	border-radius: 5px;
	width :500px;
	margin: 30px auto;
	padding: 5px;
	border:1px solid white;
}

input{
	font-size: 12px;
	border : none;
	padding: 5px;
	width:200px;
	margin-top: 1px;
	vertical-align: top;
}

.champ_search{
	font-size: 15px;
}

.search{
	width: 30%;
	padding: 10px;
	margin: 10px auto;
	background-color: rgba(6,2,1,0.8);
	border: 1px solid #555;
}

.snap_search, .score_search {
	display: inline-block;
}

.snap_search{
	text-align: left;
}

.score_search{
	text-align: right;
}